csv/
voice/
IVR_NFC.py
IVR_NFC2.py
IVR_NFC3.py
IVR_NFC4.py
IVR_NFC5.py
IVR_NFC6.py
IVR_NFC7.py
bk_IVR_NFC2.py
gspread-master.zip
IVR_timeReport.py
zadig-2.3.exe
oauth2client-master/
.vscode/
libusb-1.0.21/
