*.pyc
*.DS_Store
/nohup.out
/csv/
/voice/
/tools/
/voice_time/
/.vscode/

/IVR_NFC.py
/IVR_NFC2.py
/bk_IVR_NFC2.py
/IVR_NFC3.py
/IVR_NFC4.py
/IVR_NFC5.py
/IVR_NFC6.py
/IVR_NFC7.py
/IVR_NFC8.py

/IVR_timeReport.py
/IVR_timeReport2.py

/nfcpy.py
/slackbot_settings.py